<ul *ngIf="metadata">
  <li *ngFor="let table of metadata.tables">
    <i class="fa-solid fa-table"></i>
    {{ table.tableName }}
    <ul *ngFor="let columnMetadata of table.columnsMetadata">
      <li>
        <input type="checkbox" [(ngModel)]="columnMetadata.isChecked">
        {{columnMetadata.name}} [{{columnMetadata.type}}]
      </li>
    </ul>
  </li>
</ul>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="handleExtractButton()">Extract</button>
</mat-dialog-actions>
