<nav class="navbar navbar-light bg-dark-subtle">
  <img alt="dw_icon.png" ngSrc="assets/dw_icon.png" height="100" width="100">
  <div class="navbar-nav d-flex flex-grow-1 justify-content-end">
    <a class="nav-item nav-link flex-grow-1" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/etl" routerLinkActive="active">ETL</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/database" routerLinkActive="active">Database</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/diagram" routerLinkActive="active">Diagram</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/analytics" routerLinkActive="active">Analytics</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/charts" routerLinkActive="active">Charts</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/settings" routerLinkActive="active">Settings</a>
  </div>
</nav>
