.navbar {
  flex-direction: column;
  width: fit-content;
  height: 100vh;
  padding: 1rem;
}

.dw-icon {
  max-width: 100%;
  height: auto;
}

.navbar-nav {
  padding: 1rem;
}

.nav-item {
  padding-top: 2rem;
  font-size: 1.2vw;
}

.nav-item.nav-link.active {
  color: cornflowerblue;
}

