:host {
  display: flex;
  height: 100%;
}

p-button {
  display: flex;
  height: 100%;
}

.alert-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.alert-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: lightpink;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.alert-message {
  color: red;
  font-size: 1rem;
}
