<p-table
  (onRowReorder)="updateQuery()"
  [value]="query.orderByList">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:3rem"></th>
      <th>Column</th>
      <th>Order</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template let-column let-index="rowIndex" pTemplate="body">
    <tr [pReorderableRow]="index">
      <td>
        <span class="pi pi-bars" pReorderableRowHandle></span>
      </td>
      <td>
        <p-dropdown
          (onChange)="orderByColumnChange($event.value, index)"
          [(ngModel)]="query.orderByList[index].columnName"
          [options]="columnOptions(index)"
          appendTo="body"
          placeholder="Select Column">
        </p-dropdown>
      </td>
      <td>
        <p-toggleButton
          (onChange)="updateQuery()"
          [(ngModel)]="query.orderByList[index].ascending"
          offIcon="pi pi-sort-amount-down"
          offLabel="Descending"
          onIcon="pi pi-sort-amount-up-alt"
          onLabel="Ascending"/>
      </td>
      <td>
        <button (click)="deleteOrderBy(index)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<button (click)="newOrderBy()" [disabled]="buttonDisabled()">+</button>
