<p-button
  label="Query"
  icon="pi pi-search"
  [outlined]="true"
  (click)="showQuery()">
</p-button>
<p-dialog [modal]="true" [(visible)]="queryVisible" [style]="{ width: '50rem' }">
  <ng-template pTemplate="header">
    <p-toolbar>
      <h4>SQL Query</h4>
    </p-toolbar>
  </ng-template>
  <p-dataView [value]="query">
    <ng-template pTemplate="list" let-query>
      <div *ngFor="let sql of query; let i = index">
        <pre style="font-size: 18px;">{{sql}}</pre>
      </div>
    </ng-template>
  </p-dataView>
</p-dialog>
