:host {
  display: flex;
  flex-direction: row;
}

::ng-deep .p-button-group {
  display: flex;
  flex-direction: row;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filters-overlay-panel {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 270px;
}

::ng-deep .hidden-overlay-panel.p-overlaypanel,
::ng-deep .hidden-overlay-panel.p-overlaypanel-content {
  pointer-events: auto !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep .unstyled-multiselect .p-multiselect-label-container {
  display: none;
}

::ng-deep .unstyled-multiselect .p-multiselect-label {
  display: none;
}

::ng-deep .unstyled-multiselect .p-multiselect-trigger {
  display: none;
}
