.wrapper {
  display: flex;
  flex-direction: column; /* Ensure vertical layout */
  flex: 1 1 auto;
  width: 100%; /* Take full width */
  height: 100%; /* In case you want it to take full height as well */
}

p-table {
  flex: 1 1 auto; /* Allow p-table to expand */
  width: 58vw;
  height: 90vh;
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*.small.p-datatable-gridlines.p-datatable-striped {*/
/*  width: 100%;*/
/*}*/
