:host {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

p-table {
  justify-content: stretch;
  align-items: stretch;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
