<p-table
  *ngIf="table"
  [value]="table.rowList"
  [paginator]="true"
  [rowsPerPageOptions]="[10, 20, 50]"
  [rows]="10"
  [scrollable]="true"
  scrollHeight="flex"
  [showCurrentPageReport]="true"
  paginatorPosition="bottom"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let column of table.columnList">{{ column }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td *ngFor="let column of table.columnList">{{ rowData[column] }}</td>
    </tr>
  </ng-template>
</p-table>
