<div class="box-container"
     id="column-selector"
     cdkDropList
     [cdkDropListConnectedTo]="['draggables-container', 'row-selector']"
     [cdkDropListEnterPredicate]="isDimDragged"
     (cdkDropListDropped)="onDrop($event)">
  <div class="caption">
    <h5>Columns</h5>
  </div>
  @for (dimTable of dimTables; track dimTable) {
    <div class="box-item"
         cdkDrag
         [cdkDragData]="dimTable">
      <app-dim-draggable-item [dimDraggable]="dimTable"></app-dim-draggable-item>
    </div>
  }
</div>
