<div class="left-wrapper">
  <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
    <app-draggables-container></app-draggables-container>
    <app-column-dim-selector></app-column-dim-selector>
    <app-row-dim-selector></app-row-dim-selector>
    <app-aggregate-selector></app-aggregate-selector>
  </p-scrollPanel>
</div>
<div class="right-wrapper">
  <div class="table-top-wrapper">
    <app-analytics-toolbar></app-analytics-toolbar>
  </div>
  <app-pivot-table></app-pivot-table>
</div>
