<p-button
  (click)="showQuery()"
  [outlined]="true"
  icon="pi pi-search"
  label="Query">
</p-button>
<p-dialog [(visible)]="queryVisible" [modal]="true" [style]="{ width: '50rem' }">
  <ng-template pTemplate="header">
    <p-toolbar>
      <h4>SQL Query</h4>
    </p-toolbar>
  </ng-template>
  <p-dataView [value]="query">
    <ng-template let-query pTemplate="list">
      <div *ngFor="let sql of query; let i = index">
        <pre style="font-size: 18px;">{{ sql }}</pre>
      </div>
    </ng-template>
  </p-dataView>
</p-dialog>
