.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: flex-start;
  height: 90vh;
  width: 92vw;
  background-color: lightgrey;
}

app-database-list {
  display: flex;
  height: 90vh;
  width: 34vw;
}

app-table-view {
  display: flex;
  flex: 0 0 58vw;
  height: 100%;
  flex-direction: column;
}
