<ng-container *ngIf="metadata">
  <li (dblclick)="toggleMetadata(metadata)">
    <button class="clickable" (click)="toggleMetadata(metadata)">
        <span
          [ngClass]="['fa-solid fa-sm fa-fw', metadata.metadataCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-database clickable"></span>
    <span class="clickable"> {{ metadata.database }} </span>
  </li>
  <ul *ngIf="metadata.metadataCollapsed">
    <ng-container [ngTemplateOutlet]="tables" [ngTemplateOutletContext]="{$implicit:metadata}"></ng-container>
    <ng-container [ngTemplateOutlet]="factTables" [ngTemplateOutletContext]="{$implicit:metadata}"></ng-container>
    <ng-container [ngTemplateOutlet]="dimensions" [ngTemplateOutletContext]="{$implicit:metadata}"></ng-container>
  </ul>
</ng-container>

<ng-template #tables let-metadata>
  <li (dblclick)="toggleTablesCollapse(metadata)">
    <button class="clickable" (click)="toggleTablesCollapse(metadata)">
      <span
        [ngClass]="['fa-solid fa-sm fa-fw', metadata.tablesCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-folder clickable"></span>
    <span class="clickable"> Tables </span>
  </li>
  <ng-container *ngIf="metadata.tablesCollapsed">
    <ul *ngFor="let table of metadata.tables">
      <ng-container [ngTemplateOutlet]="tableNode" [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #factTables let-metadata>
  <li (dblclick)="toggleFactTablesCollapse(metadata)">
    <button class="clickable" (click)="toggleFactTablesCollapse(metadata)">
      <span
        [ngClass]="['fa-solid fa-sm fa-fw', metadata.factTablesCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-folder clickable"></span>
    <span class="clickable"> Fact Tables </span>
  </li>
  <ng-container *ngIf="metadata.factTablesCollapsed">
    <ul *ngFor="let table of metadata.factTables">
      <ng-container [ngTemplateOutlet]="tableNode" [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #dimensions let-metadata>
  <li (dblclick)="toggleDimensionsCollapse(metadata)">
    <button class="clickable" (click)="toggleDimensionsCollapse(metadata)">
      <span
        [ngClass]="['fa-solid fa-sm fa-fw', metadata.dimensionsCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-folder clickable"></span>
    <span class="clickable"> Dimensions </span>
  </li>
  <ng-container *ngIf="metadata.dimensionsCollapsed">
    <ul *ngFor="let table of getAllMetadata(metadata)">
      <ng-container [ngTemplateOutlet]="tableNode" [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #tableNode let-table>
  <li (dblclick)="getTable(table)">
    <button class="clickable" (click)="toggleTableCollapse(table)">
      <span [ngClass]="['fa-solid fa-sm fa-fw', table.tableCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-table clickable"></span>
    <span class="clickable"> {{ table.tableName }} </span>
  </li>
  <ul *ngIf="table.tableCollapsed && table.columnsMetadata.length != 0">
    <ng-container [ngTemplateOutlet]=" columnsNode"
                  [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
  </ul>
  <ul *ngIf="table.tableCollapsed && table.primaryKeysMetadata.length != 0">
    <ng-container [ngTemplateOutlet]="primaryKeysNode"
                  [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
  </ul>
  <ul *ngIf="table.tableCollapsed && table.foreignKeysMetadata.length != 0">
    <ng-container [ngTemplateOutlet]="foreignKeysNode"
                  [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
  </ul>
</ng-template>

<ng-template #columnsNode let-table>
  <li (dblclick)="toggleColumnsCollapse(table)">
    <button class="clickable" (click)="toggleColumnsCollapse(table)">
      <span
        [ngClass]="['fa-solid fa-sm fa-fw', table.columnsCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-folder clickable"></span>
    <span class="clickable"> Columns </span>
  </li>
  <ul *ngIf="table.columnsCollapsed">
    <li *ngFor="let column of table.columnsMetadata">
      <span class="fa-solid fa-table-columns"></span>
      <span> {{ column.name }} [{{ column.type }}] </span>
    </li>
  </ul>
</ng-template>

<ng-template #primaryKeysNode let-table>
  <li (dblclick)="togglePrimaryKeysCollapse(table)">
    <button class="clickable" (click)="togglePrimaryKeysCollapse(table)">
      <span
        [ngClass]="['fa-solid fa-sm fa-fw', table.primaryKeysCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-folder clickable"></span>
    <span class="clickable"> Primary Keys </span>
  </li>
  <ul *ngIf="table.primaryKeysCollapsed">
    <li *ngFor="let key of table.primaryKeysMetadata">
      <span class="fa-solid fa-key"></span>
      <span> {{ key.primaryKeyName }} ({{ key.columnName }}) </span>
    </li>
  </ul>
</ng-template>

<ng-template #foreignKeysNode let-table>
  <li (dblclick)="toggleForeignKeysCollapse(table)">
    <button class="clickable" (click)="toggleForeignKeysCollapse(table)">
      <span
        [ngClass]="['fa-solid fa-sm fa-fw', table.foreignKeysCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></span>
    </button>
    <span class="fa-solid fa-folder clickable"></span>
    <span class="clickable"> Foreign Keys </span>
  </li>
  <ul *ngIf="table.foreignKeysCollapsed">
    <li *ngFor="let key of table.foreignKeysMetadata">
      <span class="fa-solid fa-key"></span>
      <span> {{ key.foreignKeyName }} [{{ key.primaryKeyColumnName }} -> {{ key.primaryKeyTableName }}
        ({{ key.foreignKeyColumnName }})] </span>
    </li>
  </ul>
</ng-template>
