:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  background-color: white;
}

ul, li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

span {
  white-space: nowrap;
}

.fa-chevron-down {
  margin-right: 5px;
}

.fa-chevron-right {
  margin-right: 5px;
}

