<p-toolbar (click)="show()" pTooltip="Join Window" tooltipPosition="bottom">
  <h5>Join</h5>
</p-toolbar>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '80rem' }">
  <ng-template pTemplate="header">
    <p-toolbar>
      <h4>Join</h4>
    </p-toolbar>
  </ng-template>
  <p-table
    (onRowReorder)="updateQuery()"
    [value]="query.joins">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:3rem"></th>
        <th>Select Table</th>
        <th>Join Type</th>
        <th>Left Operand</th>
        <th>Operator</th>
        <th>Right Operand</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template let-column let-index="rowIndex" pTemplate="body">
      <tr [pReorderableRow]="index">
        <td>
          <span class="pi pi-bars" pReorderableRowHandle></span>
        </td>
        <td>
          <p-dropdown
            (onChange)="joinedTableChange($event.value, index)"
            [(ngModel)]="query.joins[index].table"
            [options]="joinTableOptions(index)"
            appendTo="body"
            placeholder="Join Table">
          </p-dropdown>
        </td>
        <td>
          <p-dropdown
            (onChange)="updateQuery()"
            [(ngModel)]="query.joins[index].type"
            [options]="joinTypes"
            appendTo="body"
            placeholder="Join Type">
          </p-dropdown>
        </td>
        <td>
          <p-dropdown
            (onChange)="updateQuery()"
            [(ngModel)]="query.joins[index].conditions[0].leftOperand"
            [options]="leftOperands()"
            appendTo="body"
            placeholder="Select Field">
          </p-dropdown>
        </td>
        <td>
          <p-dropdown
            (onChange)="updateQuery()"
            [(ngModel)]="query.joins[index].conditions[0].operator"
            [options]="operators"
            appendTo="body"
            placeholder="Select Operator">
          </p-dropdown>
        </td>
        <td>
          <p-dropdown
            (onChange)="updateQuery()"
            [(ngModel)]="query.joins[index].conditions[0].rightOperand"
            [options]="rightOperands(index)"
            appendTo="body"
            placeholder="Select Field">
          </p-dropdown>
        </td>
        <td>
          <button (click)="deleteJoinTable(index)">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button (click)="newJoinTable()" [disabled]="buttonDisabled()">+</button>
</p-dialog>
