<p-table
  (onRowReorder)="updateQuery()"
  [value]="query.columns">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:3rem"></th>
      <th>Column</th>
      <th>Alias</th>
      <th>Aggregate</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template let-index="rowIndex" pTemplate="body">
    <tr [pReorderableRow]="index">
      <td>
        <span class="pi pi-bars" pReorderableRowHandle></span>
      </td>
      <td>
        <p-dropdown
          (onChange)="columnChange($event.value, index)"
          [(ngModel)]="query.columns[index].name"
          [options]="columnOptions(index)"
          appendTo="body"
          placeholder="Select Column">
        </p-dropdown>
      </td>
      <td>
        <p-floatLabel>
          <input
            (input)="aliasChange($event, index)"
            [(ngModel)]="query.columns[index].alias"
            id="alias{{index}}"
            pInputText
            type="text"
          />
          <label for="alias{{index}}">Alias</label>
        </p-floatLabel>
      </td>
      <td>
        <p-dropdown
          (onChange)="aggregateChange($event.value, index)"
          [(ngModel)]="query.columns[index].function"
          [options]="aggregates"
          appendTo="body"
          placeholder="Select Aggregate">
        </p-dropdown>
      </td>
      <td>
        <button (click)="deleteColumn(index)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<button (click)="newColumn()" [disabled]="buttonDisabled()">+</button>
