<p-toolbar (click)="show()" pTooltip="Select Window" tooltipPosition="bottom">
  <h5>Select</h5>
</p-toolbar>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '80rem' }" closable="false">
  <ng-template pTemplate="header">
    <div class="dialog-header">
      <p-tabView class="tabview">
        <p-tabPanel header="Select">
          <app-select></app-select>
        </p-tabPanel>
        <p-tabPanel header="Group By">
          <app-group-by></app-group-by>
        </p-tabPanel>
        <p-tabPanel header="Order By">
          <app-order-by></app-order-by>
        </p-tabPanel>
      </p-tabView>
      <button class="close-button" type="button" (click)="hide()">
        <span class="pi pi-times"></span>
      </button>
    </div>
  </ng-template>
</p-dialog>
