<nav class="navbar navbar-light bg-dark-subtle">
  <img ngSrc="assets/dw_icon_smaller.png" alt="dw_icon.png" width="110" height="100" priority>
  <div class="navbar-nav d-flex flex-grow-1 justify-content-evenly">
    <a routerLink="/etl" class="nav-item nav-link" routerLinkActive="active">ETL</a>
    <a routerLink="/database" class="nav-item nav-link" routerLinkActive="active">Database</a>
    <a routerLink="/analytics" class="nav-item nav-link" routerLinkActive="active">Analytics</a>
  </div>
</nav>
