:host {
  display: flex;
  flex-direction: column;
  width: 8%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.nav-item {
  font-size: 1.2rem;
}

.nav-item.nav-link.active {
  color: cornflowerblue;
}
