:host {
  display: flex;
  flex-direction: column;
  width: 8%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--surface-b);
}

.sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  text-decoration: none;
  color: var(--text-color);
}

.nav-item:hover {
  color: var(--primary-color);
}

.nav-item.active {
  color: cornflowerblue;
  font-weight: bold;
}
