<nav class="navbar navbar-light bg-dark-subtle">
  <img alt="dw_icon.png" priority ngSrc="../../../assets/dw_icon_smaller.png" height="100" width="110">
  <div class="navbar-nav d-flex flex-grow-1 justify-content-end">
    <a class="nav-item nav-link flex-grow-1" routerLink="/etl" routerLinkActive="active">ETL</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/database" routerLinkActive="active">Database</a>
    <a class="nav-item nav-link flex-grow-1" routerLink="/analytics" routerLinkActive="active">Analytics</a>
  </div>
</nav>
