<div class="wrapper">
  <p-table
    #dt
    *ngIf="table"
    [columns]="table.selectedColumns"
    [value]="table.rowList"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
    [rows]="10"
    [reorderableColumns]="true"
    (onColReorder)="columnOrderChange()"
    [filters]="savedFilters"
    (onFilter)="onColumnFilter($event)"
    [(selection)]="table.selectedRows"
    [scrollable]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [loading]="loading"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    scrollHeight="flex"
    selectionMode="multiple"
    styleClass="small p-datatable-gridlines p-datatable-striped">

    <ng-template pTemplate="caption">
      <div class="table-header">
        <p-button (click)="reload()" [outlined]="true" icon="pi pi-refresh" label="Reload"/>
        <p-button (click)="clear(dt)" [outlined]="true" icon="pi pi-filter-slash" label="Clear"/>
        <app-query-view></app-query-view>
        <p-multiSelect
          (onChange)="columnOptionChange()"
          [(ngModel)]="table.selectedColumns"
          [options]="table.columnOptions"
          [style]="{'max-width': '300px'}"
          display="chip"
          optionLabel="alias"
          placeholder="Choose Columns"
          selectedItemsLabel="{0} columns selected">
        </p-multiSelect>
        <p-button (click)="save(dt, {selectionOnly:false})" icon="pi pi-file" pTooltip="CSV"
                  tooltipPosition="bottom"></p-button>
        <p-button (click)="save(dt, {selectionOnly:true})" icon="pi pi-filter" pTooltip="Selection Only"
                  tooltipPosition="bottom"></p-button>
        <app-alert-list></app-alert-list>
      </div>
    </ng-template>
    <ng-template let-columns pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" pReorderableColumn>
          <div class="flex align-items-center">
            {{ col.alias }}
            <p-columnFilter
              [showAddButton]="false"
              [showMatchModes]="true"
              [showOperator]="false"
              [type]="columnType(col.alias)"
              display="menu"
              field="{{col.alias}}"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-rowData pTemplate="body">
      <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.alias] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
