@if (pivotTable && pivotTable.isPivoted) {
  <p-table
    [value]="pivotTable.rowList"
    [scrollable]="true"
    scrollHeight="flex"
    frozenWidth="20px"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <!-- Row Labels -->
        @for (rowLabel of pivotTable.rowLabelList; track rowLabel) {
          <th
            pFrozenColumn
            [attr.rowspan]="pivotTable.columnLabelList.length">
            {{ rowLabel }}
          </th>
        }
        <!-- First row of Column LabelS -->
        @for (columnLabel of pivotTable.columnLabelList[0] | keyvalue: unsorted; track columnLabel.key) {
          <th
            [attr.colspan]="columnLabel.value">
            {{ columnLabel.key | lastKey }}
          </th>
        }
      </tr>
      <!-- The rest of Column Labels -->
      @for (columnLabel of pivotTable.columnLabelList | slice: 1; track columnLabel) {
        <tr>
          @for (columnLabelElement of columnLabel | keyvalue: unsorted; track columnLabelElement.key) {
            <th
              [attr.colspan]="columnLabelElement.value">
              {{ columnLabelElement.key | lastKey }}
            </th>
          }
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <!-- Data for Row Labels-->
        @for (rowElement of row | keyvalue: unsorted | slice: 0:pivotTable.rowLabelList.length; track rowElement.key) {
          @if (checkRowLabelIsAvailable(String(rowElement.key), String(rowElement.value))) {
            <th
              pFrozenColumn>
              <!--[attr.rowspan]="getRowLabelSize(String(rowElement.key), String(rowElement.value))">-->
              {{ rowElement.value ?? "-" }}
            </th>
          } @else {
            <th pFrozenColumn>
            </th>
          }
        }
        <!-- Data for Column Labels -->
        @for (columnLabel of pivotTable.columnLabelList.slice(-1)[0] | keyvalue: unsorted; track columnLabel.key) {
          <td>
            {{ row[columnLabel.key] ?? "-" }}
          </td>
        }
      </tr>
    </ng-template>

  </p-table>
} @else if (pivotTable && !pivotTable.isPivoted) {
  <p-table
    [value]="pivotTable.queryResult.rowList"
    [scrollable]="true"
    scrollHeight="flex"
    frozenWidth="20px"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        @for (columnLabel of pivotTable.queryResult.columnList; track columnLabel) {
          <th>{{ columnLabel }}</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        @for (rowElement of row | keyvalue; track rowElement) {
          <td>{{ rowElement.value }}</td>
        }
      </tr>
    </ng-template>
  </p-table>
}

