@if (!pivotTable) {
  <div class="message">
    <p>Please connect to the data warehouse and execute a query to display analytical data</p>
  </div>
}
@else if (pivotTable && pivotTable.isPivoted) {
  <p-table
    [value]="pivotTable.rowList"
    [scrollable]="true"
    [virtualScroll]="true"
    [virtualScrollItemSize]="40"
    [scrollHeight]="scrollHeight">
    <!--    [rows]="rowsBuffered"-->
    <!--    [lazy]="true"-->
    <!--    (onLazyLoad)="lazyLoadPivoted($event)"-->
    <ng-template pTemplate="header">
      <tr>
        <!-- Row Labels -->
        @for (rowLabel of pivotTable.rowLabelList; track rowLabel) {
          <th
            pFrozenColumn
            [attr.rowspan]="pivotTable.columnLabelList.length">
            {{ rowLabel }}
          </th>
        }
        <!-- First row of Column LabelS -->
        @for (columnLabel of pivotTable.columnLabelList[0] | keyvalue: unsorted; track columnLabel.key) {
          <th
            [attr.colspan]="columnLabel.value">
            {{ columnLabel.key | lastKey }}
          </th>
        }
      </tr>
      <!-- The rest of Column Labels -->
      @for (columnLabel of pivotTable.columnLabelList | slice: 1; track columnLabel) {
        <tr>
          @for (columnLabelElement of columnLabel | keyvalue: unsorted; track columnLabelElement.key) {
            <th
              [attr.colspan]="columnLabelElement.value">
              {{ columnLabelElement.key | lastKey }}
            </th>
          }
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr style="height: 40px">
        <!-- Data for Row Labels-->
        @for (
          rowElement of rowData | keyvalue: unsorted | slice: 0:pivotTable.rowLabelList.length; track rowElement.key) {
          <th pFrozenColumn>
            {{ rowElement.value ?? "-" }}
          </th>
        }
        <!-- Data for Column Labels -->
        @for (columnLabel of pivotTable.columnLabelList.slice(-1)[0] | keyvalue: unsorted; track columnLabel.key) {
          <td>
            {{ rowData[columnLabel.key] ?? "-" }}
          </td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr style="height: 40px">
        @for (rowLabel of pivotTable.rowLabelList; track rowLabel) {
          <td>
            <p-skeleton></p-skeleton>
          </td>
        }
        @for (columnLabel of pivotTable.columnLabelList.slice(-1)[0] | keyvalue: unsorted; track columnLabel) {
          <td>
            <p-skeleton></p-skeleton>
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
} @else if (pivotTable && !pivotTable.isPivoted) {
  <p-table
    [columns]="pivotTable.queryResult.columnList"
    [value]="pivotTable.queryResult.rowList"
    [scrollable]="true"
    [virtualScroll]="true"
    [virtualScrollItemSize]="40"
    [scrollHeight]="scrollHeight">
    <!--    [rows]="rowsBuffered"-->
    <!--    [lazy]="true"-->
    <!--    [lazyLoadOnInit]="true"-->
    <!--    (onLazyLoad)="lazyLoadNotPivoted($event)"-->
    <!--    [(first)]="firstIndexResettable"-->
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (columnLabel of columns; track columnLabel) {
          <th>{{ columnLabel }}</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr style="height: 40px">
        @for (rowElement of rowData | keyvalue; track rowElement) {
          <td>{{ rowElement.value }}</td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height: 40px">
        @for (columnLabel of columns; track columnLabel) {
          <td>
            <p-skeleton></p-skeleton>
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
}

