<p-toolbar pTooltip="Select Window" tooltipPosition="bottom" (click)="show()">
  <h5>Select</h5>
</p-toolbar>
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '70rem' }">
  <ng-template pTemplate="header">
    <p-tabView>
      <p-tabPanel header="Select">
        <app-select></app-select>
      </p-tabPanel>
      <p-tabPanel header="Group By">
        <app-group-by></app-group-by>
      </p-tabPanel>
      <p-tabPanel header="Order By">
        <app-order-by></app-order-by>
      </p-tabPanel>
    </p-tabView>
  </ng-template>
</p-dialog>
