<div class="welcome-page p-6">
  <h1>Simple Datawarehouse</h1>
  <p>
    Simple Datawarehouse is a web application designed to streamline ETL operations using Apache NiFi,
    explore data tables, and execute analytical queries. It provides an intuitive user
    interface to help users learn and
    experiment with the world of data warehouses.
  </p>

  <h2>Useful Links</h2>
  <ul>
    <li><a href="https://github.com/nwolniak/simple-datawarehouse" target="_blank">Project GitHub Repository</a></li>
  </ul>
</div>
