<div class="container">
  <ng-container *ngIf="metadata">
    <li (dblclick)="toggleMetadata(metadata)">
      <i (click)="toggleMetadata(metadata)"
         [ngClass]="['fa-solid fa-sm fa-fw', metadata.metadataCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
      <i class="fa-solid fa-database"></i>
      {{ metadata.database }} [{{ metadata.host }}]
    </li>
    <ul *ngIf="metadata.metadataCollapsed">
      <ng-container [ngTemplateOutlet]="tables" [ngTemplateOutletContext]="{$implicit:metadata}"></ng-container>
      <ng-container [ngTemplateOutlet]="factTables" [ngTemplateOutletContext]="{$implicit:metadata}"></ng-container>
      <ng-container [ngTemplateOutlet]="dimensions" [ngTemplateOutletContext]="{$implicit:metadata}"></ng-container>
    </ul>
  </ng-container>
</div>

<ng-template #tables let-metadata>
  <li (dblclick)="toggleTablesCollapse(metadata)">
    <i (click)="toggleTablesCollapse(metadata)"
       [ngClass]="['fa-solid fa-sm fa-fw', metadata.tablesCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-folder"></i>
    Tables
  </li>
  <ng-container *ngIf="metadata.tablesCollapsed">
    <ul *ngFor="let table of metadata.tables">
      <ng-container [ngTemplateOutlet]="tableNode" [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #factTables let-metadata>
  <li (dblclick)="toggleFactTablesCollapse(metadata)">
    <i (click)="toggleFactTablesCollapse(metadata)"
       [ngClass]="['fa-solid fa-sm fa-fw', metadata.factTablesCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-folder"></i>
    Fact Tables
  </li>
  <ng-container *ngIf="metadata.factTablesCollapsed">
    <ul *ngFor="let table of metadata.factTables">
      <ng-container [ngTemplateOutlet]="tableNode" [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #dimensions let-metadata>
  <li (dblclick)="toggleDimensionsCollapse(metadata)">
    <i (click)="toggleDimensionsCollapse(metadata)"
       [ngClass]="['fa-solid fa-sm fa-fw', metadata.dimensionsCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-folder"></i>
    Dimensions
  </li>
  <ng-container *ngIf="metadata.dimensionsCollapsed">
    <ul *ngFor="let table of getAllMetadata(metadata)">
      <ng-container [ngTemplateOutlet]="tableNode" [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #tableNode let-table>
  <li (dblclick)="getDatasource(table.tableName)">
    <i (click)="toggleTableCollapse(table)"
       [ngClass]="['fa-solid fa-sm fa-fw', table.tableCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-table"></i>
    {{ table.tableName }}
  </li>
  <ul *ngIf="table.tableCollapsed && table.columnsMetadata.length != 0">
    <ng-container [ngTemplateOutlet]=" columnsNode"
                  [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
  </ul>
  <ul *ngIf="table.tableCollapsed && table.primaryKeysMetadata.length != 0">
    <ng-container [ngTemplateOutlet]="primaryKeysNode"
                  [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
  </ul>
  <ul *ngIf="table.tableCollapsed && table.foreignKeysMetadata.length != 0">
    <ng-container [ngTemplateOutlet]="foreignKeysNode"
                  [ngTemplateOutletContext]="{$implicit:table}"></ng-container>
  </ul>
</ng-template>

<ng-template #columnsNode let-table>
  <li (dblclick)="toggleColumnsCollapse(table)">
    <i (click)="toggleColumnsCollapse(table)"
       [ngClass]="['fa-solid fa-sm fa-fw', table.columnsCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-folder"></i>
    Columns
  </li>
  <ul *ngIf="table.columnsCollapsed">
    <li *ngFor="let column of table.columnsMetadata">
      <i class="fa-solid fa-table-columns"></i>
      {{ column.name }} [{{ column.type }}]
    </li>
  </ul>
</ng-template>

<ng-template #primaryKeysNode let-table>
  <li (dblclick)="togglePrimaryKeysCollapse(table)">
    <i (click)="togglePrimaryKeysCollapse(table)"
       [ngClass]="['fa-solid fa-sm fa-fw', table.primaryKeysCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-folder"></i>
    Primary Keys
  </li>
  <ul *ngIf="table.primaryKeysCollapsed">
    <li *ngFor="let key of table.primaryKeysMetadata">
      <i class="fa-solid fa-key"></i>
      {{ key.primaryKeyName }} ({{ key.columnName }})
    </li>
  </ul>
</ng-template>

<ng-template #foreignKeysNode let-table>
  <li (dblclick)="toggleForeignKeysCollapse(table)">
    <i (click)="toggleForeignKeysCollapse(table)"
       [ngClass]="['fa-solid fa-sm fa-fw', table.foreignKeysCollapsed ? 'fa-chevron-down' : 'fa-chevron-right']"></i>
    <i class="fa-solid fa-folder"></i>
    Foreign Keys
  </li>
  <ul *ngIf="table.foreignKeysCollapsed">
    <li *ngFor="let key of table.foreignKeysMetadata">
      <i class="fa-solid fa-key"></i>
      {{ key.foreignKeyName }} ({{key.primaryKeyColumnName}} -> {{ key.foreignKeyTableName }}({{ key.foreignKeyColumnName }}))
    </li>
  </ul>
</ng-template>
