:host {
  display: flex;
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
}

.topbar {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:host ::ng-deep .p-toolbar {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.theme-button {
  padding: 5px;
}
